table {
  border: 1px solid black;
  border-collapse: collapse;
  margin: auto;

}

td{
  padding: 1rem;
  border: 1px solid black;
}

thead {
  background-color: black;
  color: white;
}

/* Aplica color a la primera columna (GRUPO) */
td:nth-child(1) {
  background-color: #FFD700; /* Color dorado para las celdas de la columna GRUPO */
}

/* Aplica color a la segunda columna (HORA) */
td:nth-child(2) {
  background-color: #ADD8E6; /* Color azul claro para las celdas de la columna HORA */
}



